.container {
  margin-top: 7px;
  text-align: center;
}

.loader {
  width: 30px;
  height: 30px;
  margin: auto;
  border: 4px solid #004cff1f;
  border-bottom-color: #85a8ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
